.post {
  background-color: #fff;
  border-radius: 22px;
  max-width: 610px;
  // max-height: 220px;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin: .5rem;

  img {
    width: 100%;
    max-height: 270px;
  }

  p {
    font-size: .8rem;
    line-height: 1.5;
  }

  .user-data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-content {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        margin-right: 1rem;
      }

      div {

        h4 {
          font-size: .9rem;
          font-weight: 800;
          font-family: 'avenir Bold', serif;
          color: #000;
        }

        p {
          font-size: .8rem;
        }
      }
    }

    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: .3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}