/* _________________________ Website Theme _________________________ */

:root {
  --hue-1: 209;
  --hue-2: 359;
  --main-color-1: hsl(var(--hue-1), 46%, 32%);
  --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
  --main-color-2: hsl(var(--hue-2), 82%, 70%);
  --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
  --section-padding: 7rem;
}

body {
  --bg-color: hsl(var(--hue-1), 0%, 0%);
  --bg-color-1: hsl(var(--hue-1), 25%, 20%);
  --bg-color-2: #fff;
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --bg-color-transparent: hsla(var(--hue-1), 8%, 9%, 0.901);
  --heading-color: hsl(var(--hue-1), 61%, 24%);
  --text-color: hsl(var(--hue-1), 20%, 15%);
  --text-color-strong: hsl(var(--hue-1), 8%, 30%);
}

/* _________________________ General Styles _________________________ */

// *,
// *::before,
// *::after {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// html {
//   scroll-behavior: smooth;
// }

body {
  // overflow-x: hidden;
  background-color: #DBECEC;
  color: var(--text-color);
  // font-family: "avenir Regular", sans-serif;
  transition: .3s background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  // padding: 1rem;
  // overflow: hidden;
}